*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial;

}



body{

background:linear-gradient(to right,#4facfe,#00f2fe);

color:rgb(13, 12, 12);

text-align:center;

}



header{

background:#0ddae9;

padding:25px;

}



nav{

margin-top:20px;

}



nav a{

color:rgb(13, 12, 12);

text-decoration:none;

margin:20px;

font-size:20px;

}



nav a:hover{

color:rgb(116, 239, 9);

}



.hero{

margin-top:100px;

}



.hero h2{

font-size:45px;

margin-bottom:20px;

}



.hero p{

font-size:20px;

width:70%;

margin:auto;

}



footer{

position:fixed;

bottom:0;

width:100%;

background:#003366;

padding:15px;

}



.login-box{

background:rgb(178, 169, 169);

color:black;

width:350px;

margin:120px auto;

padding:30px;

border-radius:15px;

}



.login-box input{

display:block;

width:100%;

padding:10px;

margin:15px 0;

}



button{

background:#41949f;

color:white;

padding:12px 30px;

border:none;

border-radius:20px;

cursor:pointer;

}



button:hover{

background:rgb(237, 171, 49);

}